$_black: #181818;
$_white: #fff;
$_gray: #e1e0e0;
$_green: #39e762;
$_mint: #2b9565;
$_cream: #ebe2db;

$primary-color: $_cream;
$primary-dark-color: $_black;

$background-dark-color: $_black;
$background-gray-color: $_gray;
$background-lighter-color: $_white;
$background-cream-color: $_cream;
$background-mint-color: $_mint;

$text-color: $_black;
$text-second-color: $_mint;
$text-hover-color: $_white;
