@use "../settings/variables";

.ui-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;

  &--horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: variables.$spacing-s variables.$spacing-m;
    @media (min-width: 64em) {
      flex-wrap: nowrap;
    }
  }
}
