@use "../settings/variables";
@use "../tools/mixins";

.footer {
  background-color: variables.$background-dark-color;
  @media (min-width: 64em) {
    padding: variables.$spacing-s;
  }
  &__links {
    @media (min-width: 64em) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 3.5rem;
    }

    a:hover {
      color: variables.$text-color;
    }
  }
}
