@use "../settings/variables";

.card {
  padding: 0.35rem;

  &__title {
    font-weight: 700;
  }

  &__content {
    font-size: variables.$fs-text-s;
    line-height: 1.4;
    @media (min-width: 64em) {
      font-size: variables.$fs-text-m;
    }

    &--lineVertical {
      @extend .card__content;
      margin: 0 2rem;
      border-left: 4px solid variables.$background-gray-color;
      padding-left: 1.5rem;
    }
  }
}
